.chamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #000;
    text-align: center;
    
    background-color: #FFF;

    padding-top: 17.25rem;
    padding-bottom: 2.5rem;
}

.chamada-titulo {
    font-family: 'Montserrat', serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.chamada-texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

.chamada-botao {
    width: 100%;
    background-color: #8A2424;
    color: #FFF;
    border-color: #8A2424;
}
