.icon {
    max-width: 350px;
    box-sizing: border-box;
    padding: 0 1rem 1rem 2rem;

    background-repeat: no-repeat;
    background-position: top left;
}

.icon-telefone {
    background-image: url(../img/icon-telefone.svg);

}

.icon-wpp {
    background-image: url(../img/icon-wpp.svg);

}

.icon-email {
    background-image: url(../img/icon-email.svg);
}

.icon-endereco {
    background-image: url(../img/icon-endereco.svg);
}
